<!DOCTYPE html>

<body>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="../styles/empresa.css">

    
    <main>

        <h2>Candidatos</h2>
        <ul>
            <li>candidato 1</li>
            <li>empresa 2</li>
            <li>candidato 1</li>
            <li>empresa 2</li>
            <li>candidato 1</li>
            <li>empresa 2</li>
            <li>candidato 1</li>
            <li>empresa 2</li>
            <li>candidato 1</li>
            <li>empresa 2</li>
            <li>candidato 1</li>
            <li>empresa 2</li>
        </ul>


        <h2>Anunciar</h2>
        <div class="cadastrarEmpresa">
    
            <button>
                Anunciar uma vaga
            </button>
    
        </div>
        
    </main>
</body>
</html>