main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

ul {

  margin-bottom: 20px;
  width: 100%;
  text-align: center;

  max-height: 50vh; 
  overflow-y: auto;

}

li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.cadastrarEmpresa {
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
